
<body>

<!-----
[!comment:] layout: page]
title: About
description: This page describes profile.
----->

<p>I am a postdoctoral fellow in Public Health Division of Fred Hutchinson Cancer Research Center. My research interests broadly lie on unsupervised learning from data and public health studies. During the (post-)doctoral training, I focused on inferences on large-scale covariance matrices, longitudinal data analysis, and survival analysis. My thesis deals with positive definiteness of structured covariance matrix estimation and its application for rehabilitative speech treatment for Parkinson&#39;s disease patients and Markowitz&#39;s portfolio optimization problem. I also have involved in research on random matrix theory, cohort study, electronic medical record, and analysis of mass-spectrometry data.</p>

<h3 id="toc_0">Experience</h3>

<ul>
<li> - Postdoctoral Fellow (Mentor: Yingqi Zhao), Fred Hutchinson Cancer Research Center, Seattle, WA, USA. (Dec. 2016 -- Present)</li>
<li> - Data Analysis Advisor, Greedeat Inc., Seoul, Korea. (Sep. -- Nov. 2016) </li>
<li> - Postdoctoral Fellow (Mentor: Myunghee Cho Paik), Seoul National University, Seoul, Korea. (Sep. 2015 -- Nov. 2016)</li>
</ul>

<h3 id="toc_1">Education</h3>

<ul>
<li> - Ph.D. (Supervisor: Johan Lim), Statistics, College of Natural Science, Seoul National University, Seoul, Korea, 2015.</li>
<li> - B.S., Mathematics Education (Cum Laude), College of Education, Seoul National University, Seoul, Korea, 2010.</li>
</ul>

<h3 id="toc_2">Honors</h3>

<ul>
<li> - (2016) Distinguished Student Paper Award, ENAR Spring Meeting, Austin, TX.</li>
<li> - (2015) Best Thesis Award of College of Natural Science, College of Natural Science, Seoul National University.</li>
<li> - (2012) Scholarship for Next Generation Scholars, Seoul National University.</li>
</ul>




</body>
